/*Code written by Shyngys Karishev for Assingment 1*/

@font-face {																	/*Adding some fonts and naming them*/
	font-family: Karla;
	src: url("fonts/Karla.ttf");
}

@font-face {
	font-family: JosefinBoldItalic;
	src: url("fonts/JosefinSans-BoldItalic.ttf");
}

@font-face{
	font-family: Popit;
	src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face{
	font-family: JosefinBold;
	src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face{
	font-family: IBM;
	src: url("fonts/IBMPlexMono-Light.ttf");
}
@font-face{
	font-family: JosefinSemiBold;
	src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}

@keyframes fade {																/* animation that changes the opacity from 0 to full opacity */
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes refade {																/*animation that changes the opacity from full opacity to 0*/
	from {opacity: 1;}
	to {opacity: 0;}
}

b:hover {																		/*If you hover over this kind of text, it will change its font*/
	font-family: JosefinBoldItalic;
}


html {																			/*Making the smooth scroll behavior, so when section in navigation is clicked it will smoothly scroll there*/
	scroll-behavior: smooth;
}

body {																			/*I made the margins at the beginning, so the bottom line of the top part would look better*/
	width: 80%;																	/*The problem however then was that I wanted to make the margin 0, but it lead to some errors, so I left it*/
	margin-left: 5%;
	margin-right: 5%;
}


.topscreen {																	/*topscreen block, made background white and some of the change in structures using margin, padding, top*/
	background:white;
	width: 85%;
	top: 1.1%;
	height: 68px;
	position: fixed;
	padding-bottom: 5px;
	padding-right: 5%;
	margin-top: -10px;
	padding-top: 10px;
	border-bottom: 3px solid black;
	transition: top 0.6s;														/*transition for the top, I have a script that when user scrolls down the topscreen is hidden*/
}																				/*but when user scrolls up it comes back*/



												
.logo {																			/*the next 5 codeblocks are just the design and adjusting for the logo*/
	position: absolute;
	width:12%;
	padding-left: -5px;/
	padding-right: -5px;
	height:100%;
}

.back {
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: 50%;
	margin-left: 2%;
}

.ray1 {
	background: lightblue;
	position: relative;
	width: 80px;
	height: 3px;
	border-radius: 4px;
	left: 1.8%;
	top: 45%;
	transform: rotate(120deg);


}
.ray2 {
	background: lightblue;
	position: relative;
	width: 80px;
	height: 3px;
	border-radius: 4px;
	left: 2%;
	top: 45%;
	transform: rotate(60deg);
}

.name-logo {
	display: inline-block;
	top: 10px;
	margin-left: 120%;
	font-family: Popit;
}																				/*End of the logo design*/


.logo:hover .ray1{																/*If we hover over the logo, the rays are 'getting out of the circle'*/
	left: 15%;
	top: 23%;
}

.logo:hover .ray2{
	left:14%;
	top: 65%;
}

.logo:hover .name-logo {														/*If we hover over the logo, the name of company changes the color*/
	color: lightblue;
}

#navigation {																	/*Here are just the adjustments for the navigation with display flex, so it is in the end*/
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-end;
	margin-top: -0.1%;
	font-family: JosefinBold;

}

.navi {																			/*just making the font size of the sections in navigation*/
	font-size: 25px;
}

.navi:visited{																	/*so if we have already clicked there it wouldn't show it*/
	color:black;
}

.navi:hover { 																	/*for interactivity purposes, if you hover over the nav bar it will shoe pointer and change the color*/
	color:lightblue;
	cursor: pointer;
}


#navigation li {																/*Adjusting the unordered list making everything look nice*/
	padding-right: 4%;
	
	margin-block-start: 1em;
	margin-block-end: 3em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.scroll {																		/*The scroll part of the body, which is the website body in my case*/
	font-size: 22px;															/*Making some adjustments, overflow, flex with direction and centralize everything*/
	margin-top: 4%;
	padding: 10px;
	width: 110%;
	height: 320vh;																/*Height is 320vh because we have 3 sections that are 100vh and some space at the bottom*/
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: hidden;
	align-items: center;
	text-align:justify;
	font-family: JosefinBold;
}


.scroll section {																/*for all of the sections of scroll(FILM, CAST, BTS) making adjustments and the height of 100vh*/
	height: 100vh;
	width: 100%;
	border-bottom: 3px solid black;
}

#finalvideo {																	/*The next three codeblocks are for the FILM section*/
	text-align: center;															/*Centralizing everything and making the font*/
	font-weight: bold;
	font-size: 80px;
}
.filmpart {																		/*So the film is in a row with the reviews and left of them*/
	display: flex;																
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom:6%;
}

.videotext {																	/*Making the reviews in the row, some css code is in the html file for them*/
	display: flex;
	flex-direction: column;
}																				/*End of the FILM section*/


#finalcast {																	/*Start of the CAST section with adjustments*/							
	padding-top: 2%;
	padding-bottom:0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 80px;
}

.myimg:hover {																	/*If hover over the cast images, the image will become bigger*/
	transform: scale(1.15);
}

.row {																			/*row, which is basically four actors part with info*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: -5%;
	align-items: stretch;

}
.actors {
	height: 50%;
	padding-bottom: 10%;
	text-align: center;
}																				/*End of the Cast section*/	


#finalbts {																		/*Start of the BTS section with adjustments*/
	padding-top: 2%;
	padding-bottom:0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 80px;
}

#BTS {
	height: 120vh;
}
.behindthescenes {																/*Making everything centralized and in columns*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 0;
}																				/*End of the BTS section*/

.information {																	/*Start of the endofscreen banner with information*/
	width: 111.4%;
	padding-top: 30px;
	border: 1px solid black;
	background: white;
	margin-bottom: -10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.left {
	display: flex;
	flex-direction: column;
	width: 20%;
	height:100%;	
}

.companyinfo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height:20%;
}

.cominfo {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: JosefinBold;
	font-size: 100%;
	padding-left: 1em;
	margin-right: 28px;
}

.ourcompany {
	line-height: 33px;
	vertical-align: baseline;
}
.justcompany:visited{															/*same as the navigation bar visited and hover*/
	color:black;
}
.justcompany:hover { 
	color:darkblue;
}

.allrights {
	padding-top: 8%;
	font-family: IBM;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialmedia {
	padding-right: 10px;
	height:40%;
	width: 20%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding-inline-start:0px;
}

.youtube:hover, .facebook:hover, .insta:hover {									/*Adding interactivity, so if you hover the logos of social medias, they will be a little bit transparent*/
	opacity: 80%;
}																				/*End of the endofscreen banner with information*/
