@font-face {
	font-family: Karla;
	src: url("fonts/Karla.ttf");
}

@font-face {
	font-family: JosefinBoldItalic;
	src: url("fonts/JosefinSans-BoldItalic.ttf");
}

@font-face{
	font-family: Popit;
	src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face{
	font-family: JosefinBold;
	src: url("fonts/JosefinSans-Bold.ttf");
}
@font-face{
	font-family: IBM;
	src: url("fonts/IBMPlexMono-Light.ttf");
}
@font-face{
	font-family: JosefinSemiBold;
	src: url("fonts/JosefinSans-SemiBoldItalic.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
}


.topscreen {
	background:white;
	width: 85%;
	top: 1.1%;
	height: 68px;
	position: fixed;
	padding-bottom: 5px;
	padding-right: 5%;
	margin-top: -10px;
	padding-top: 10px;
	border-bottom: 3px solid black;
	transition: top 0.6s;
}

.logo {
	position: absolute;
	width:12%;
	padding-left: -5px;/
	padding-right: -5px;
	height:100%;
}

.back {
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: 50%;
	margin-left: 2%;
}

.ray1 {
	background: lightblue;
	position: relative;
	width: 80px;
	height: 3px;
	border-radius: 4px;
	left: 1.8%;
	top: 45%;
	transform: rotate(120deg);


}
.ray2 {
	background: lightblue;
	position: relative;
	width: 80px;
	height: 3px;
	border-radius: 4px;
	left: 2%;
	top: 45%;
	transform: rotate(60deg);
}

.name-logo {
	display: inline-block;
	top: 10px;
	margin-left: 120%;
	font-family: Popit;
}

.logo:hover .ray1{
	left: 15%;
	top: 23%;
}

.logo:hover .ray2{
	left:14%;
	top: 65%;
}

.logo:hover .name-logo {
	color: lightblue;
}

#navigation {
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-end;
	margin-top: -0.1;
	font-family: JosefinBold;

}

.navi {
	font-size: 25px;
}

.navi:visited{
	color:black;
}

.navi:hover { 
	color:lightblue;
	cursor: pointer;
}


#navigation li {
	padding-right: 4%;
	
	margin-block-start: 1em;
	margin-block-end: 3em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

#toreviews {
	margin-right: -4%;
}

.scroll {
	font-size: 22px;
	margin-top: 4%;
	padding: 10px;
	width: 110%;
	height: 300vh;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: hidden;
	align-items: center;
	text-align:justify;
	font-family: JosefinBold;
}



iframe {
	padding-left: 15%;
}

.scroll section {
	height: 100vh;
	width: 100%;
	border-bottom: 3px solid black;
}
#finalvideo {
	text-align: center;
	font-weight: bold;
	font-size: 80px;
}
.filmpart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom:6%;
}

.videotext {
	display: flex;
	flex-direction: column;
}

b:hover {
	font-family: JosefinBoldItalic;
}

#finalcast {
	padding-top: 2%;	padding-bottom:0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 80px;
}

div.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: -5%;
	align-items: stretch;

}
div.actors {
	height: 50%;
	padding-bottom: 10%;
	text-align: center;
}
/*div.actors:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	position: relative;
	transition: 1s;
}*/



#finalbts {
	padding-top: 2%;
	padding-bottom:0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 80px;
}

.behindthescenes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

.information {
	width: 111.4%;
	padding-top: 30px;
	border: 1px solid black;
	background: white;
	margin-bottom: -10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.left {
	display: flex;
	flex-direction: column;
	width: 20%;
	height:100%;	
}

.companyinfo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height:20%;
}

.cominfo {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: JosefinBold;
	font-size: 100%;
	padding-left: 1em;
	margin-right: 28px;
}

.ourcompany {
	line-height: 33px;
	vertical-align: baseline;
}

.allrights {
	padding-top: 8%;
	font-family: IBM;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialmedia {
	padding-right: 10px;
	height:40%;
	width: 20%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding-inline-start:0px;
}

.youtube:hover, .facebook:hover, .insta:hover {
	opacity: 80%;
}

@keyframes fade { /* from 0 to full opacity */
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes refade {
	from {opacity: 1;}
	to {opacity: 0;}
}
